
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.sidenav-active {
  background-color: rgba(255,255,255,0.2);
}

.bg {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background-image: url('../images/cover.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center; 
	z-index: 0;
}

.research{
	background-image: url('../images/adcsl.png');
	background-size: 100% 100%; 
	background-repeat: no-repeat; 
}
.experience{
	background-image: url('../images/sea.jpg');
	background-size: 100% 100%; 
	background-repeat: no-repeat;
}

.slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.block {
  position: relative;
  margin: 0 auto;
  width: 1024px;
}


.intro .title {
  position: relative;
}

.intro .title h1 {
  margin-top: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.intro .title h2 {
  margin-left: 3em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
}


.research .title h1 {
  margin-top: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.experience .title h1 {
  margin-top: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
}